@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/76/88/e2/logo-ristorante.jpg" />
    <p> Vieni a trovarci! <a href="https://www.tripadvisor.it/Restaurant_Review-g676159-d12141439-Reviews-La_Locanda-Nardo_Province_of_Lecce_Puglia.html"></a></p>
</div>
