@{
    ViewData["Title"] = "Contatti";
}
<h2>Località e contatti</h2>
<span>
    <span data-test-target="staticMapSnapshot">
        <img alt src="https://maps.google.com/maps/api/staticmap?&channel=ta.desktop.restaurant_review&zoom=15&size=347x137&scale=1&client=gme-tripadvisorinc&format=jpg&sensor=false&language=it_IT&center=40.173359,18.025593&maptype=roadmap&&markers=icon:http%3A%2F%2Fc1.tacdn.com%2F%2Fimg2%2Fmaps%2Ficons%2Fcomponent_map_pins_v1%2FR_Pin_Small.png|40.173359,18.025593&signature=O43GjU3ayyzM7yqqS1TemXgRbVU=" />
       <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/76/88/e2/logo-ristorante.jpg" />

    </span>
</span>
<div class="btn-group" role="group">
    <span>
        <a href="https://www.google.com/maps?saddr&daddr=Via+Enrico+Ferri+45,+73048,+Nardo+Italia@40.17336,18.025593"  class="btn btn-outline-dark">Vieni a trovarci</a>
    </span>

    <span>
        <a href="https://www.facebook.com/La-locanda-219494918089226/?hc_ref=PAGES_TIMELINE&fref=nf"  class="btn btn-outline-dark">Visita il nostro sito</a>
    </span>

    <span>
        <a href="tel:3896645285"  class="btn btn-outline-dark">Chiamaci</a>
    </span>

    <span>
        <a href="mailto:lalocanda@gmail.com"  class="btn btn-outline-dark">Contattaci</a>
    </span>
</div>

